venv/
ven/
.git/
.dart_tool/
.idea/
.vscode/
build/
android/
ios/
linux/
macos/
windows/
web/
lib/
test/
testing/
docs/
out/
FYP-True-Hadith/
__pycache__/
.pytest_cache/
*.pyc
.env
firebase-service-account.json
android/key.properties
android/upload-keystore.jks
*.log
cloud-sql-proxy.exe
data_test/
