gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Signing / secrets
android/key.properties
android/upload-keystore.jks
**/upload-keystore.jks
*.jks
*.keystore

# Firebase config (optional, par recommended)
android/app/google-services.json

# Build output
build/
.dart_tool/